<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJD5J44qT_OVHR8cG7J6u-o22Tkkn6cQg</string>
	<key>GCM_SENDER_ID</key>
	<string>305849303512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HN.btlIOS</string>
	<key>PROJECT_ID</key>
	<string>btlios-adbdd</string>
	<key>STORAGE_BUCKET</key>
	<string>btlios-adbdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305849303512:ios:6c8fbd5285e805aa8572ad</string>
</dict>
</plist>